<!DOCTYPE html>
<head>
<%- include("partial/head", {title: "stats"}); %>
</head>
<body>
    <div id="main-container">
        <h2>Site Stats
        </h2>
            <p>cool stats about visitor count and stuff :3</p>

            <div class="tab">
              <button class="tablinks active" onclick="openTab(event, 'tab1')" id="defaultOpen">visitors</button>
              <button class="tablinks" onclick="openTab(event, 'tab2')">referrals</button>
              <button class="tablinks" onclick="openTab(event, 'tab3')">user agents</button>
              <button class="tablinks" onclick="openTab(event, 'tab4')">request paths</button>
              <button class="tablinks" onclick="openTab(event, 'tab5')">url params</button>
              <button class="tablinks" onclick="openTab(event, 'tab6')">uptime</button>
            </div>

            <div id="tab1" class="tabcontent" style="display:block;">
              <table>
                <tbody>
                    <tr>
                        <td>total visits</td>
                        <td><%= visits %></td>
                    </tr>
                    <tr>
                        <td>visits today</td>
                        <td><%= visitstoday %></td>
                    </tr>
                    <tr>
                        <td>average visits/day</td>
                        <td><%= Math.trunc(visitsavg) %></td>
                    </tr>
                </tbody>
            </table>
            <canvas id="visitChart"></canvas>
            <p class="tiny"><i>since 2/8/25</i></p>
            </div>

            <div id="tab2" class="tabcontent">
                <table>
                    <thead>
                        <tr>
                            <th>referrer</th>
                            <th>times seen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < referrer.length; i++) { %>
                            <tr>
                            <td><%= referrer[i].referrer %></td>
                            <td><%= referrer[i].count %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div id="tab3" class="tabcontent">
                <table>
                    <thead>
                        <tr>
                            <th>user agent string</th>
                            <th>times seen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < useragent.length; i++) { %>
                            <tr>
                            <td><%= useragent[i].useragent %></td>
                            <td><%= useragent[i].count %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table> 
                <p>your current user agent is:</p><p id="ua"></p>
            </div>

            <div id="tab4" class="tabcontent">
                <table>
                    <thead>
                        <tr>
                            <th>request</th>
                            <th>times acessed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < path.length; i++) { %>
                            <tr>
                            <td><%= path[i].path %></td>
                            <td><%= path[i].count %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table> 
            </div>

            <div id="tab5" class="tabcontent">
                <table>
                    <thead>
                        <tr>
                            <th>?</th>
                            <th>times seen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < params.length; i++) { %>
                            <tr>
                            <td><%= params[i].params %></td>
                            <td><%= params[i].count %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table> 
            </div>

            <div id="tab6" class="tabcontent">
                <a href="https://stats.uptimerobot.com/SEzzGaUjSN">https://stats.uptimerobot.com/SEzzGaUjSN</a>
            </div>
    </div>
    <p class="tiny">stats are based on session cookies which expire after 1 hour, you wont be counted as a new visitor until then :3</p>
</body>
<script src="/scripts/chart.js"></script>
<script>
    function openTab(evt, tab) {
      var i, tabcontent, tablinks;
      
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace("active", "");
      }

      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      document.getElementById(tab).style.display = "block";
      evt.currentTarget.className += " active";
    }
    //there has to be a more efficient way to do this
    
    document.getElementById("ua").innerText = window.navigator.userAgent;
  
    //chart
    Chart.defaults.color = "#ffffff";
    var ctx = document.getElementById('visitChart').getContext('2d');
    var data = <%- JSON.stringify(visitsGraph) %>;
    new Chart(ctx, {
        type: "line",
        data: {
            datasets: [{
                color: "#ffffff",
                backgroundColor: "#ffffff",
                borderColor: "#ffffff",
                data: data
            }]
        },
        options: {
            parsing: {
                xAxisKey: 'date',
                yAxisKey: 'count'
            },
            plugins: {
                legend: {display: false},
            }
        }
    });
    </script>
       